@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
@import "bootstrap";

body {
  min-height: 100vh;
  display: flex;
  //flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
//   background-color: #636363;
//   background-color: #2b3830;
background: rgb(54,54,54);
background: radial-gradient(circle, rgba(54,54,54,1) 0%, rgba(165,165,177,1) 35%, rgba(78,92,94,1) 100%);
  //font-family: 'Dosis', sans-serif;
  //font-family: 'Slabo 27px', serif;
  //font-family: 'Fira Sans', sans-serif;
  //font-family: 'Josefin Sans', sans-serif;
  font-family: 'Play', sans-serif;
}
